{% extends 'layout.html' %}
{% block content %}

{% for delivery in delivery_list %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="article-item mr-2" href="#">{{ delivery.product_id }}</a>
            <small class="text-muted">{{ delivery.status }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ delivery.product_name }}</a></h2>
        <p class="article-content">Parcel Weight: {{ delivery.parcel_weight }}</p>
        <p class="article-content">Sent From: {{ delivery.sent_from }}</p>
        <p class="article-content">Sent To: {{ delivery.sent_to }}</p>
    </div>
</article>
{% endfor %}

{% endblock content %}

{% block searchbar %}
<div class="row">
    <div class="caption text-center text-justify col-2 col-md-2"></div>
    <div class="caption text-center text-justify col-8 col-md-8">
        <h1>
            Courier service providers usually have a very large network across countries.
        </h1>
        <h3>On logging, the person needs to make an entry of a package number that should be reaching to him/her.
            This data is directly uploaded to the main system that now keeps track of latest location and
            status
            of the package through an active internet connection. The data stored on server can now be used for
            live package status tracking by customers.
        </h3>
    </div>
    <div class="caption text-center text-justify col-2 col-md-2"></div>
</div>

<div class="container text-center ml-lg-8">
    <div class="input-group mt-5 mb-3">
        <input type="text" class="form-control" placeholder="Package ID" aria-label="Package ID"
            aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Submit</button>
        </div>
    </div>
    <!-- <a class="btn btn-main btn-outline-dark btn-lg" href="#goods">Давайте начнем :)</a> -->
</div>
{% endblock searchbar %}