{% extends 'layout.html'%}
{% block content%}
<div class='content-section'>
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">
                Personal ID: {{ current_user.personal_id }}
            </h2>
            <h2 class="account-heading">
                Username: {{ current_user.first_name}} {{ current_user.last_name}}
            </h2>
            <p class="text-secondary">
                Email: {{ current_user.email}}
            </p>
            <p class="text-secondary">
                Location: {{ location }}
            </p>
        </div>
    </div>
    <form method="POST" action="">
        {{update_form.hidden_tag()}}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update your Delivery Service Account</legend>

            <div class="form-group">
                {{ update_form.first_name.label(class='form-control-label') }}

                {% if update_form.first_name.errors %}
                {{ update_form.first_name(class='form-control form-control-lg is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in update_form.first_name.errors%}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ update_form.first_name(class='form-control form-control-lg') }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ update_form.last_name.label(class='form-control-label') }}

                {% if update_form.last_name.errors %}
                {{ update_form.last_name(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in update_form.last_name.errors%}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ update_form.last_name(class='form-control form-control-lg') }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ update_form.email.label(class='form-control-label') }}

                {% if update_form.email.errors %}
                {{ update_form.email(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in update_form.email.errors%}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ update_form.email(class='form-control form-control-lg') }}
                {% endif %}

                {{'You can use letters, numbers & periods'}}
            </div>

            <div class="form-group">
                {{ update_form.country.label(class='form-control-label') }}

                {% if update_form.country.errors %}
                {{ update_form.country(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in update_form.country.errors%}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ update_form.country(class='form-control form-control-lg') }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ update_form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% for package in packages %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="article-item mr-2" href="#">{{ package.product_id }}</a>
            <small class="text-muted">{{ package.creating_date }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ package.product_name }}</a></h2>
        <p class="article-content">Parcel Weight: {{ package.parcel_weight }}</p>
        <p class="article-content">Sent From: {{ package.sent_from.city }}, {{ package.sent_from.country }}</p>
        <p class="article-content">Sent To: {{ package.sent_to.city}}, {{ package.sent_to.country }}</p>
        <p class="article-content">Customer: {{ package.owner.first_name }} {{ package.owner.last_name }}</p>
        <p class="article-content">Descripton: {{package.description}}</p>
    </div>
</article>
{% endfor %}

{% endblock content%}